<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>My App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="MainController">
    <header>
        <h1>My App</h1>
    </header>

    <div>
        <p>{{ message }}</p>
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('MainController', function($scope, $http) {
            $http.get('/api/data')
                .then(function(response) {
                    $scope.message = response.data.message;
                });
        });
    </script>
</body>
</html>
